/* General stuff for tables. */
table {
    text-align: center;
    margin: auto;
}

/* For the div in which the letters are entered.*/
.letter_container {
    height: 61vh;
    overflow-y: scroll;
}

/* Where the letters are entered. */
.letter {
    background-color: red;

    aspect-ratio: 1 / 1;

    /* border: 0px;
    margin: 0px;
    padding: 0px; */
}

.letter.correct_position {
    background-color: green;
}

.letter.occurs_in_word {
    background-color: yellowgreen;
}

.letter.does_not_occur_in_game {
    background-color: gray;
}

/* Position and size for the div which contains the keyboard keys. */
.keyboard {
    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 39vh;
}

/* 
    Style for the elements in the keyboard div.
*/

.keyboard_contents button {
    background-color: rgb(0, 0, 0, 0);

    width: 95%;
    height: 95%;

    margin: auto;
    padding: 0px;

    text-align: center;
    font-size: 75%;

    border: 0.75vw;
    border-radius: 5px;
    /* border-color: rgb(255, 255, 255); */
    border-color: rgb(192, 189, 189);
    border-style: solid;
}

.keyboard_contents div {
    width: 10vw;
    height: 13vh;

    font-size: 10vw;
}

.keyboard_contents td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.keyboard_contents tr {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.keyboard_contents table {
    border: 0px;
    padding: 0px;

    border-collapse: collapse;
}

/* For the enter and delete button. */
.keyboard_contents.special_key div {
    width: 15vw;
}

.keyboard_contents.special_key img {
    width: 90%;
}