.user_input {
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.user_input input {
    width: 90vw;
    font-size: larger;
    margin: 5px;
}

.user_input label {
    font-size: medium;
}

#to_submit {
    text-align: center;
    width: 100vw;
}

#to_submit button {
    font-size: x-large;
    border: 10px;
    border-radius: 0px;
    background-color: rgb(31, 102, 233);
}