table {
    margin: auto;
    text-align: center;

    width: 90vw;
    height: 50vh;

    font-size: 6vw;

    position: absolute;
    top: 18vh;
    left: 5vw;

    background-color: rgb(229, 248, 255);
}

button {
    border: 0px;
    border-radius: 0px;

    font-size: 10vw;
}