/* has desktop */
table {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;

    width: 90vw;

    font-size: 6vw;

    background-color: rgb(229, 248, 255);
}

/* has desktop */
.submit_button {
    border: 0px;
    border-radius: 0px;

    font-size: 10vw;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    table {
        font-size: 2vw;
    }

    .submit_button {
        font-size: x-large;
        border: 10px;
        border-radius: 0px;
        background-color: #3e65ca;
    }
}