/* General stuff for tables. */
table {
    text-align: center;
    margin: auto;
}

/* has desktop */
/* For the div in which the letters are entered.*/
.letter_container {
    height: 63vh;
    overflow-y: scroll;
}

/* Where the letters are entered. */
.letter {
    background-color: rgba(211, 211, 211, 0.411);

    aspect-ratio: 1 / 1;

    border: 0px;
    margin: 0px;
    padding: 0vw;
}

.letter.correct_position {
    background-color: green;
}

.letter.occurs_in_word {
    background-color: rgb(243, 221, 18);
}

.letter.does_not_occur_in_game {
    background-color: rgb(192, 192, 192);
}

/* has desktop */
/* Position and size for the div which contains the keyboard keys. */
.keyboard {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 27vh;

    display: table-footer-group;
}

/* 
    Style for the elements in the keyboard div.
*/

.keyboard_contents.button {
    background-color: rgb(0, 0, 0, 0);

    color: rgb(0, 0, 0);

    width: 95%;
    height: 95%;

    margin: auto;
    padding: 0px;

    text-align: center;
    font-size: 75%;

    border: 0.75vw;
    border-radius: 5px;
    /* border-color: rgb(255, 255, 255); */
    border-color: rgb(192, 189, 189);
    border-style: solid;
}

.keyboard_contents div {
    width: 10vw;
    height: 9vh;

    font-size: 10vw;
}

.keyboard_contents td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.keyboard_contents tr {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.keyboard_contents table {
    border: 0px;
    padding: 0px;

    border-collapse: collapse;
}

.keyboard_contents.button.correct_position {
    background-color: green;
}

.keyboard_contents.button.occurs_in_word {
    background-color: rgb(243, 221, 18);
}

.keyboard_contents.button.does_not_occur_in_game {
    background-color: rgb(192, 192, 192);
}

/* For the enter and delete button. */
.keyboard_contents.special_key div {
    width: 15vw;
}

.keyboard_contents.special_key img {
    width: 90%;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    .keyboard {
        width: 0px;
        height: 0px;
    }
    .letter_container {
        height: auto;
    }
}