.navbar {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 187;
}

.navbar a {
    text-decoration: none;
    color: rgb(230, 222, 222);
    padding: 10px;
    font-size: x-large;
}

.navbar.bg_clolour_show {
    background-color: black;

    width: 75%;
    height: 100vh;
}

.navbar.bg_clolour_hide {
    background-color: rgba(0, 0, 0, 0);

    width: 0px;
    height: 0px;

    margin: 0px;
    border: 0px;
    padding: 0px;
}

.hamburger button {
    background-color: rgba(0, 0, 0, 0);

    padding: 0px;
    margin: 10px;
    border: 0px;
}

.hamburger img {
    width: 12vw;
}

#dropdown {
    padding-left: 10px;
}