{% extends "base.html" %}

{% block title %}Active games{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <!-- <link rel="stylesheet" href="/static/css/active_games.css"> -->

    <div>
        <table>
            <tr>
                <th>Game id</th>
                <th>Language</th>
                <th>Word length</th>
                <th>Amount of tries</th>
                <th>Tries remaining</th>
            </tr>
            
            {% if active_games %}
                {% for game_id, language, word_length, amount_tries, remaining_tries in active_games %}
                    <tr>
                        <td>
                            <a href="/game/play/{{ game_id }}">
                                Go!
                            </a>
                        </td>
                        <td>
                            {{ language }}
                        </td>
                        <td>
                            {{ word_length }}
                        </td>
                        <td>
                            {{ amount_tries }}
                        </td>
                        <td>
                            {{ remaining_tries }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}