<!DOCTYPE html>
<html lang="{% block language %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wordle-Clone{% endblock %}</title>
</head>
<body>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/standard.css">
    
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/static/js/remove_element.js"></script>

    <div class="navbar">
        <div class="navbar bg_clolour_hide" id="navbar_bg_colour">
            <div class="hamburger">
                <button onclick="toggle_dropdown()">
                    <img src="/static/images/hamburger_v3.svg">
                </button>
            </div>
            <div id="dropdown" hidden>
                {% if user %}
                    {% if not user.is_authenticated %}
                        <a href="/login">
                            login
                        </a>
                        <br>
                        <a href="/sign_up">
                            sign up
                        </a>
                        <br>
                    {% endif %}
                {% endif %}
                <a href="/">
                    home
                </a>
                <br>
                {% if user %}
                    {% if user.is_authenticated %}
                        <a href="/active_games">
                            active games
                        </a>
                        <br>
                        <a href="/game/choose_language">
                            custom game
                        </a>
                        <br>
                        <a href="/unviewed_scores">
                            unviewed scores
                        </a>
                        <br>
                        <a href="/logout">
                            logout
                        </a>
                        <br>
                    {% endif %} 
                {% endif %}
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <link rel="stylesheet" href="/static/css/flashed_messages.css">

            {% for category, message in messages %}
                {% if category == "error" %}
                    <div id="{{ loop.index }}" class="flashed error">
                        {{ message }}
                        <button onclick="remove_element('{{ loop.index }}')">
                            <span>&times;</span>
                        </button>
                    </div>
                {% elif category == "success" %}
                    <div id="{{ loop.index }}" class="flashed success">
                        {{ message }}
                        <button onclick="remove_element('{{ loop.index }}')">
                            <span>&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div id="{{ loop.index }}" class="flashed info">
                        {{ message }}
                        <button onclick="remove_element('{{ loop.index }}')">
                            <span>&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>