<!DOCTYPE html>
<html lang="{% block language %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wordle-Clone{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/static/dist/main.css"> -->
</head>
<body>    
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/static/js/remove_element.js"></script>

    <nav class="fixed top-0 left-0 bg-transparent z-10">
        <div id="navbar_hidden">
            <button onclick="toggle_dropdown()" class="bg-transparent m-2 w-16">
                <img src="/static/images/hamburger_v3.svg">
            </button>
        </div>
        <div id="navbar_show" hidden class="bg-black h-screen text-white text-3xl">
            <button onclick="toggle_dropdown()" class="bg-transparent m-2 w-16">
                <img src="/static/images/hamburger_v2.svg">
            </button>

            <div class="m-4 ml-2 mt-2">
                {% if user %}
                    {% if not user.is_authenticated %}
                        <a href="/login">
                            login
                        </a>
                        <br>
                        <a href="/sign_up">
                            sign up
                        </a>
                        <br>
                    {% endif %}
                {% endif %}
                <a href="/">
                    home
                </a>
                <br>
                {% if user %}
                    {% if user.is_authenticated %}
                        <a href="/game/choose_language">
                            custom game
                        </a>
                        <br>
                        <a href="/active_games">
                            active games
                        </a>
                        <br>
                        <a href="/stats">
                            stats
                        </a>
                        <br>
                        <a href="/unviewed_scores">
                            unviewed scores
                        </a>
                        <br>
                        <a href="/logout">
                            logout
                        </a>
                        <br>
                    {% endif %} 
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="float-right text-2xl pt-16">
                {% for category, message in messages %}
                    <div id="{{ loop.index }}" class="pr-5 pl-5 pt-2 pb-2 m-1 rounded-full text-center break-all
                        {% if category == 'error' %}
                            bg-red-500
                        {% elif category == 'success' %}
                            bg-green-500
                        {% else %}
                            bg-blue-500
                        {% endif %}
                        ">
                        {{ message }}
                        <button onclick="remove_element('{{ loop.index }}')">
                            <span>&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <br>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>