{% extends "base.html" %}

{% block title %}Game{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <!-- <link rel="stylesheet" href="/static/css/game.css"> -->

    <div id="game" class="/**overflow-y-scroll**/ pb-56 pt-16"><!-- Gets filled by javascript --></div>
    <div id="keyboard" class="w-screen h-56 fixed bottom-0 left-0 sm:left-1/4 sm:w-[50vw] bg-white sm:bg-gray-100/50 sm:rounded-lg"><!-- Gets filled by javascript --></div>

    <div id="game_id" hidden>{{ game_id }}</div>
    <div id="amount_tries" hidden>{{ amount_tries }}</div>
    <div id="word_length" hidden>{{ word_length }}</div>
    
    <script type="module" src="/static/js/game.js"></script>
{% endblock %}