{% extends "base.html" %}

{% block title %}select language{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/select_game_language.css">
    <div>
        {% if languages is defined %}
            {% for language in languages %}
            <a href="{{select_game_size_url}}{{language}}">
                <button class="language_button">
                    {{ language }}
                </button>
            </a>
                
            {% endfor %}
        {% endif %}
    </div>
    <div class="spacer"></div>
{% endblock %}