{% extends "base.html" %}

{% block title %}Game settings{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <!-- <link rel="stylesheet" href="/static/css/select_game_stuff.css"> -->
    <!-- <script type="text/javascript" src="/static/js/display_input_value.js"></script> -->

    <table>
        <tr>
            <td>
                Selected language: {{ language }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ select_language_url }}">
                    Go back to select another language.
                </a>
            </td>
        </tr>
        <tr>
            <form method="post">
                <tr>
                    <td>
                        <label for="word_length">The length of the word:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="word_length" name="word_length">
                            {% for word_length in word_lengths %}
                                <option value="{{ word_length }}"> {{ word_length}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="amount_tries">The amount of tries for guessing the word:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="range" id="amount_tries" name="amount_tries" min="{{ min_tries}}"
                        max="{{ max_tries }}" oninput="display_input_value('amount_tries', 'amount_tries_output')"
                        step="1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="amount_tries_output"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="submit_button">Submit</button>
                    </td>
                </tr>
            </form>
        </tr>
    </table>

    <script type="text/javascript">
        display_input_value("word_length", "word_length_value");
        display_input_value("amount_tries", "amount_tries_output");
    </script>
{% endblock %}