{% extends "base.html" %}

{% block title %}Sign up{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/auth.css">
    
    <div class="user_input">
        <form method="post" id="to_submit">
            <label for="username">Enter username:</label>
            <br>
            <input type="text" id="username" name="username">
            <br>

            <label for="password">Enter password:</label>
            <br>
            <input type="password" id="password" name="password">
            <br>

            <label for="confirm_password">Confirm password:</label>
            <br>
            <input type="password" id="confirm_password" name="confirm_password">
            <br>

            <button type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}