{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block language %}en{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/active_games.css">

    <table>
        <tr>
            <th>Language</th>
            <th>Word Length</th>
            <th>Amount Tries</th>
            <th>Completed</th>
        </tr>
        {% for language, word_length, amount_tries, completed in stuff %}
            <tr>
                <td>{{ language }}</td>
                <td>{{ word_length }}</td>
                <td>{{ amount_tries }}</td>
                <td>{{ completed }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}